html{
        font-family: 'Montserrat', sans-serif;     
      }

#logo-img{
        height: 61px;
}

#home-button{
    background-color: #03a9f4;
}

#index-banner h2{
        font-size: 24px;
}

footer a{
        display: inline-flex;
        vertical-align: top;
}


